<?xml version="1.0"?>
<config>
	<modules>
		<MageGuide_Moosend>
			<version>0.1.0</version>
		</MageGuide_Moosend>
	</modules>
	<admin>
		<routers>
			<moosend_admin>
				<use>admin</use>
				<args>
					<module>MageGuide_Moosend</module>
					<frontName>moosend_admin</frontName>
				</args>
			</moosend_admin>
		</routers>
	</admin>
	<frontend>
		<routers>
			<moosend>
				<use>standard</use>
				<args>
					<module>MageGuide_Moosend</module>
					<frontName>moosend</frontName>
				</args>
			</moosend>
		</routers>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<moosend translate="title" module="moosend">
											<title>Moosend Section</title>
											<sort_order>67</sort_order>
										</moosend>
									</children>
								</config>
							</children>
						</system>
						<moosend module="moosend">
							<children>
								<moosend module="moosend">
									<title>Moosend</title>
									<sort_order>81</sort_order>
								</moosend>
							</children>
						</moosend>
					</children>						
				</admin>
		   </resources>									
		</acl>
		<translate>
            <modules>
                <MageGuide_Acs>
                    <files>
                        <default>mageguide/MageGuide_Moosend.csv</default>
                    </files>
                </MageGuide_Acs>
            </modules>
        </translate>
	</adminhtml>
	<global>
	    <blocks>
			<moosend>
				<class>MageGuide_Moosend_Block</class>
			</moosend>
			<adminhtml>
                <rewrite>
                    <newsletter_subscriber>MageGuide_Moosend_Block_Adminhtml_Newsletter_Subscriber</newsletter_subscriber>
                </rewrite>
            </adminhtml>
		</blocks>
		<helpers>
			<moosend>
				<class>MageGuide_Moosend_Helper</class>
			</moosend>
		</helpers>
		<models>
			<moosend>
				<class>MageGuide_Moosend_Model</class>
				<resourceModel>moosend_mysql4</resourceModel>
			</moosend>
		</models>
		<resources>
            <moosend_setup>
                <setup>
                    <module>MageGuide_Moosend</module>
                </setup>
            </moosend_setup>
        </resources>  
		<events>
			<customer_save_after>
			  <observers>
				<mageguide_moosend_import_subscriber>
				  <type>singleton</type>
                  <class>MageGuide_Moosend_Model_Observer</class>
				  <method>addSubscriber</method>
				</mageguide_moosend_import_subscriber>
			  </observers>
			</customer_save_after>
			<customer_delete_commit_after>
			   <observers>
				<mageguide_moosend_remove_subscriber>
				  <type>singleton</type>
                  <class>MageGuide_Moosend_Model_Observer</class>
				  <method>removeSubscriber</method>
				</mageguide_moosend_remove_subscriber>
			  </observers>
			</customer_delete_commit_after>
			<newsletter_subscriber_save_after>
			  <observers>
				<mageguide_moosend_newsletter_subscriber>
				  <class>MageGuide_Moosend_Model_Observer</class>
				  <method>addNewsletterSubscriber</method>
				</mageguide_moosend_newsletter_subscriber>
			  </observers>
			</newsletter_subscriber_save_after>
			<newsletter_subscriber_delete_after>
			  <observers>
				<mageguide_moosend_newsletter_delete>
				  <class>MageGuide_Moosend_Model_Observer</class>
				  <method>removeNewsletterSubscriber</method>
				</mageguide_moosend_newsletter_delete>
			  </observers>
			</newsletter_subscriber_delete_after>
     	</events>
	</global>
	<crontab>
        <jobs>
		    <moosend_synchronize>
                <schedule><cron_expr>0 12 * * *</cron_expr></schedule>
                <run><model>moosend/observer::synchronizeNewsletterSubscriber</model></run>
            </moosend_synchronize>
        </jobs>
    </crontab>
	<default>
		<moosend>
			<moosend_general>                
				<enabled>1</enabled>
				<moosend_username>mitsxourikis@gmail.com</moosend_username> 
				<moosend_password>mits12!@</moosend_password>
				<moosend_apikey>3ff8e76b-da18-4083-938d-f3643e396a4e</moosend_apikey>
				<moosend_apiendpoint>http://api.moosend.com/v2</moosend_apiendpoint>
				<moosend_moosendsystype>3</moosend_moosendsystype>
				<module_name>moosend</module_name>   
			</moosend_general>    
		</moosend>
   </default>
</config>